body {
    margin: 0;
    font-family: Arial, sans-serif;
    
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
    padding: 10px 20px;
}

.header-logo {
    width: 150px;
    height: 70px;
}

.header-nav * {
    margin-right: 20px;
    color: black;
    text-decoration: none;
    height: 100%;
    border-style: solid;
    border: white;
    border-color: gray;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    transition: color 0.3s;
}

.header-nav a:hover,
.header-nav a:focus {
    text-decoration: none;
    color:#007BFF
}


h1 {
    font-size: 2.5em;
    font-family: Arial, sans-serif;
}

#fossilTab {
    font-size: 2em;
}

#fossil {
    font-size: 1.25em;
    text-align: center;
}

#result {
    font-size: 1.25em;
}

.content-container {
    display: flex;
    align-items: flex-start; /* Align items at their top edge */
    margin-top: 20px; /* Space from the header or top of the page */
}

.vertical-menu {
    font-family: 'Times New Roman', serif;
    width: 200px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin-right: 10px;
}

.accordion {
    background-color: #ffffff;
    color: #444;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.3s;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.accordion:hover {
    background-color: lightblue;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign */
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign */
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel a {
    font-size: 16px;
    text-decoration: none;
    color: #444;
    display: block;
    padding: 10px 0;
}

.panel a:hover {
    background-color: lightblue;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 87%;
    left: auto;
    right: auto;
    padding-bottom: 1.5%;
}

#resultimg {
    display: flex;
    flex-wrap: wrap;
}

#pic {
    flex: 0 32%;
    height: 300px;
    width: 385px;
    margin: auto;
    border: 2px solid lightblue;
    border-style: inset;
}

.button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px skyblue;
}

.button:hover {
    background-color: darkblue;
}

.button:active {
  background-color: darkblue;
  box-shadow: 0 3px deepskyblue;
  transform: translateY(3px);
}
