html, body {
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
    overflow-y: auto; /* Allow vertical scrolling */
}

.image-container {
    flex: 1; /* Take up half of the page */
    background-image: url('SilurianReef.jpg'); /* Set the background image */
    background-size: 100% auto; /* Cover the entire container width, maintain aspect ratio */
    background-position: right; /* Position the background image from the right */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  
}






.header-logo {
    width: 150px;
    height: 70px;
}



.header-nav * {
    margin-right: 20px;
    color: black;
    text-decoration: none;
    height: 100%;
    border-style: solid;
    border-width: 2em;
    border: white;
    border-color: gray;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    transition: color 0.3s;
}

.header-nav a:hover,
.header-nav a:focus {
    text-decoration: none;
    color: #007BFF; /* Change for hover effect */
}

.explore-paleomap {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.header-container {
    display: flex;
   
}


.image-container img {
    max-width: 100%;
    max-height: 100%;
}

.vertical-menu {
    font-family: Arial, Helvetica, sans-serif;
    width: 210px;
    background-color: #c0d3e0;
    border: 1px solid #ddd;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin-right: 10px;
}



.accordion {
    background-color:#c0d3e0;
    color: #333;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.3s;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #333;
}

.accordion:hover {
    background-color: lightblue;
}



a[href="https://www.fieldmuseum.org"] .accordion:after,
a[href="https://www.mpm.edu"] .accordion:after {
    content: none; /* Remove the Unicode character */
}



.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel a {
    font-size: 16px;
    text-decoration: none;
    color: #444;
    display: block;
    padding: 10px 0;
}

.panel a:hover {
    background-color: #eaeaea;
}

.info-container {
    font-family: 'Times New Roman', serif;;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px auto; /* Center horizontally */
    width: 50%; /* Set the width */
    text-align: center;
    font-size: larger;
    margin-bottom: 10vh;
    
}

.discover-header {
    text-align: center;
    font-size: 36px;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin-top: 100px;
    margin-bottom: 20px;
    position: relative;
    background-color: #f7f7f7; /* Light gray background color */
    padding: 20px; /* Add padding to make text more readable */
    border-top: 2px solid #ccc; /* Top border for separation */
    border-bottom: 2px solid #ccc; /* Bottom border for separation */
}



.paleomap-section {
    text-align: center;
    margin: 40px 0;
}

.section-header {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    background: linear-gradient(45deg, #f0f0f0 25%, transparent 25%, transparent 75%, #f0f0f0 75%);


    
 
  

}

.map-container {
    width: 80%;
    height: 400px; /* Adjust height as necessary */
    margin: 0 auto; /* Center the map container */
    background-color: #e0e0e0; /* Placeholder background, remove or adjust for your map */
    border: 1px solid #ccc; /* A light border around the map container */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow for depth */

}

/* Adjusting iframe size for map if necessary */
.map-container iframe {
    width: 100%;
    height: 100%;
}

.footer {
    background-color: #f8f8f8; /* Light background color */
    padding: 20px; /* Add padding for spacing */
    text-align: center; /* Center-align text */
}

.footer-item {
    display: inline-block; /* Display names horizontally */
    margin: 0 10px; /* Add margin between names */
    font-size: 14px; /* Adjust font size */
}

.footer-item:not(:last-child) {
    border-right: 1px solid #ccc; /* Add a border between names */
    padding-right: 10px; /* Add padding to separate names */
}

.footer-item:hover {
    color: #007BFF; /* Change text color on hover */
    cursor: pointer; /* Show pointer cursor on hover */
}

