#header {
    text-align: center;
    font-size: 2.25em;
}

h1 {
    margin-bottom: 0em;
}

#header p {
    margin-top: 0em;
    font-size: 1em;
}

html {
    width: 100%;
    background-color: gray;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 3em;
}

.fossilDescription {
    font-size: 0.9em;
    color: yellow;
}

.fossilName {
    color: yellow;
    font-size: 2em;
}